# Compiled files
*
!*/
!*.ss
!*.zig
!*.zig.zon
!*.md
!*.txt
!*.yml
!.gitignore
!build.zig
!LICENSE

# Zig build artifacts
zig-cache/
zig-out/
.zig-out/
.zig-cache/

# IDEs and Editors
.vscode/
.idea/
*.sublime-*
*.code-workspace

# Temp/Logs
*.log
tmp/
