# Compiled files
*
!*/
!*.ss
!*.go
!*.mod
!*.sum
!*.md
!*.txt
!*.yml
!.gitignore
!LICENSE

*.gen.go
simplescript
simplescript.exe

# IDEs and Editors
.vscode/
.idea/
*.sublime-*
*.code-workspace

# Temp/Logs
*.log
tmp/
